.address-book {
  .address-book-card-label {
    width: 352px;
    height: 30px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #91929b;
  }

  .add-persona-btn {
    width: 188px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px #bccddc;
    background-color: #ffffff;
    margin-top: 12px;
    float: left;

    .label {
      width: 120px;
      height: 2px;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #0093ee;
      float: left;
      padding-left: 6px;
    }

    .add-icon {
      color: #0093EE;
      font-size: 20px;
      pointer-events: none;
      float: left;
    }
  }
}

.persona-popup {
  width: 975px !important;
  max-width: 975px !important;
  border-radius: 8px;
  background-color: #ffffff;
  h4 {
    font-size: 21px;
    font-weight: 500;
    font-weight: bold;
  }
  .modal-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 43px;
  }
  .header-message {
    float: left;
    font-size: 22px;
    font-weight: bolder;
  }
  .sub-header {
    float: left;
    font-size: 17px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #232537;
  }
}